{% block menu %}
    <ul>
        <li><a href="{{ path('app_hellocontroller_hellopageun') }}">Changement1</a></li>
        <li><a href="{{ path('app_hellocontroller_hellopagedeux') }}">Changement2</a></li>
        <br>
        <li><a href="{{ path('app_personnecontroller_ajout') }}">ajout</a></li>
        <li><a href="{{ path('app_personnecontroller_show') }}">show</a></li>
        <li><a href="{{ path('app_personnecontroller_index') }}">show</a></li>

    </ul>
{% endblock %}